In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [33]:
dataset  = pd.read_csv('C:/Users/Abhishek Yadav/OneDrive/Documents/GitHub/Machine_Learning/Dataset/titanic_dataset/titanic_train.csv')
test_data  = pd.read_csv('C:/Users/Abhishek Yadav/OneDrive/Documents/GitHub/Machine_Learning/Dataset/titanic_dataset/test.csv')
test_data_y  = pd.read_csv('C:/Users/Abhishek Yadav/OneDrive/Documents/GitHub/Machine_Learning/Dataset/titanic_dataset/test_y.csv')

In [34]:
test_data

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [35]:
colls_droped = ['PassengerId','Name', 'Ticket', 'Cabin']

In [36]:
data = dataset.drop(colls_droped, axis=1)
test_data = test_data.drop(colls_droped, axis=1)

In [37]:
test_data

     Pclass     Sex   Age  SibSp  Parch      Fare Embarked
0         3    male  34.5      0      0    7.8292        Q
1         3  female  47.0      1      0    7.0000        S
2         2    male  62.0      0      0    9.6875        Q
3         3    male  27.0      0      0    8.6625        S
4         3  female  22.0      1      1   12.2875        S
..      ...     ...   ...    ...    ...       ...      ...
413       3    male   NaN      0      0    8.0500        S
414       1  female  39.0      0      0  108.9000        C
415       3    male  38.5      0      0    7.2500        S
416       3    male   NaN      0      0    8.0500        S
417       3    male   NaN      1      1   22.3583        C

[418 rows x 7 columns]

In [38]:
from sklearn.preprocessing import LabelEncoder

In [39]:
labe_enc = LabelEncoder()
data['Sex'] = labe_enc.fit_transform(data['Sex'])
data['Embarked'] = labe_enc.fit_transform(data['Embarked'])

test_data['Sex'] = labe_enc.fit_transform(test_data['Sex'])
test_data['Embarked'] = labe_enc.fit_transform(test_data['Embarked'])

In [40]:
test_data.isnull().sum()

Pclass       0
Sex          0
Age         86
SibSp        0
Parch        0
Fare         1
Embarked     0
dtype: int64

In [41]:
data['Age'] = data['Age'].fillna(data['Age'].mean())
test_data['Age'] = test_data['Age'].fillna(test_data['Age'].mean())
test_data['Fare'] = test_data['Fare'].fillna(test_data['Fare'].mean())

In [42]:
y_data = data['Survived']
x_data = data

In [43]:
test_data

     Pclass  Sex       Age  SibSp  Parch      Fare  Embarked
0         3    1  34.50000      0      0    7.8292         1
1         3    0  47.00000      1      0    7.0000         2
2         2    1  62.00000      0      0    9.6875         1
3         3    1  27.00000      0      0    8.6625         2
4         3    0  22.00000      1      1   12.2875         2
..      ...  ...       ...    ...    ...       ...       ...
413       3    1  30.27259      0      0    8.0500         2
414       1    0  39.00000      0      0  108.9000         0
415       3    1  38.50000      0      0    7.2500         2
416       3    1  30.27259      0      0    8.0500         2
417       3    1  30.27259      1      1   22.3583         0

[418 rows x 7 columns]

In [44]:
x_data = x_data.drop(['Survived'], axis=1)

In [45]:
data

     Survived  Pclass  Sex        Age  SibSp  Parch     Fare  Embarked
0           0       3    1  22.000000      1      0   7.2500         2
1           1       1    0  38.000000      1      0  71.2833         0
2           1       3    0  26.000000      0      0   7.9250         2
3           1       1    0  35.000000      1      0  53.1000         2
4           0       3    1  35.000000      0      0   8.0500         2
..        ...     ...  ...        ...    ...    ...      ...       ...
886         0       2    1  27.000000      0      0  13.0000         2
887         1       1    0  19.000000      0      0  30.0000         2
888         0       3    0  29.699118      1      2  23.4500         2
889         1       1    1  26.000000      0      0  30.0000         0
890         0       3    1  32.000000      0      0   7.7500         1

[891 rows x 8 columns]

In [46]:
def entropy(cols):
    favour = np.unique(cols, return_counts= True)
    total = cols.shape[0]
    ent = 0
    for i in favour[1]:
        prob = i/total
        ent = -1*(prob * np.log2(prob))
    return ent

In [47]:
def devide_data(x_data, feat, threshold):
    x_right = pd.DataFrame([],columns= x_data.columns)
    x_left = pd.DataFrame([],columns= x_data.columns)
    for i in range(x_data.shape[0]):
        value = x_data[feat].loc[i]
        
        if value >= threshold:
            x_right = pd.concat([x_right, x_data.iloc[i : i+1]])
        else:
            x_left = pd.concat([x_left, x_data.iloc[i : i+1]])
    return x_left, x_right

In [48]:
def info_gain(x_data, feat, threshold):
    left, right = devide_data(x_data, feat, threshold)

    rho_l = left.shape[0] / x_data.shape[0]
    rho_r = right.shape[0] / x_data.shape[0]
    i_gain = entropy(x_data.Survived) - (rho_l * entropy(left.Survived) + rho_r * entropy(right.Survived))
    return i_gain

In [49]:
for i in x_data.columns:
    print(i, info_gain(data, i, data[i].mean()))

Pclass 0.04617608211243701
Sex 0.12356339465830057
Age 0.0007118844927084256
SibSp 0.005769552253378718
Parch 0.009040300852152572
Fare 0.023967211352379336
Embarked 0.009426992708886694

In [50]:
class Decision_tree:

    def __init__(self, max_depth = 10, cur_depth = 0):
        self.left = None
        self.right = None
        self.feat = None
        self.value = None
        self.depth = cur_depth
        self.max_depth = max_depth
        self.target = None

    def train_dt(self, x_data):
        temp = []
        f = ['Pclass','Sex','Age','SibSp','Parch','Fare', 'Embarked']
        i_gain = []

        for i in f:
            i_gain.append(info_gain(x_data, i, x_data[i].mean()))
        self.feat = f[np.argmax(i_gain)]
        self.value = x_data[self.feat].mean()
        left,right = devide_data(x_data, self.feat, self.value)
        left = left.reset_index(drop = True)
        right = right.reset_index(drop = True)
        temp.append(f'Making Node of {self.feat}')
        print(f'Making Node of {self.feat}')
        if left.shape[0] == 0 or right.shape[0] == 0:
            if x_data.Survived.mean(0) >= 0.5:
                self.target = 'Survived'
            else:
                self.target = 'Not Survived'
            return
        if self.depth >= self.max_depth:
            if x_data.Survived.mean(0) >= 0.5:
                self.target = 'Survived'
            else:
                self.target = 'Not Survived'
            return
        self.left = Decision_tree(cur_depth = self.depth + 1)
        self.left.train_dt(left)

        self.right = Decision_tree(cur_depth = self.depth + 1)
        self.right.train_dt(right)
        return

    def predict(self, test):
        if test[self.feat] > self.value:
            if self.right is None:
                return self.target
            return self.right.predict(test)        
        else:
            if self.left is None:
                return self.target
            return self.left.predict(test)

In [51]:
d_t = Decision_tree()

In [52]:
#d_t.train_dt(data)

Making Node of Sex
Making Node of Pclass
Making Node of Pclass
Making Node of Parch
Making Node of Age
Making Node of Pclass
Making Node of Age
Making Node of Pclass
Making Node of SibSp
Making Node of Age
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Parch
Making Node of Pclass
Making Node of Fare
Making Node of SibSp
Making Node of Pclass
Making Node of Fare
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Parch
Making Node of Embarked
Making Node of Pclass
Making Node of SibSp
Making Node of Age
Making Node of Age
Making Node of Age
Making Node of Pclass
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Fare
Making Node of Fare
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of Age
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of Fare
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of Age
Making Node of Pclass
Making Node of Age
Making Node of Pclass
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of Age
Making Node of Pclass
Making Node of Age
Making Node of Age
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Embarked
Making Node of Fare
Making Node of Parch
Making Node of Embarked
Making Node of Pclass
Making Node of Fare
Making Node of Fare
Making Node of Pclass
Making Node of Fare
Making Node of Pclass
Making Node of Age
Making Node of Age
Making Node of Age
Making Node of Fare
Making Node of Pclass
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Fare
Making Node of Fare
Making Node of Age
Making Node of Age
Making Node of Pclass
Making Node of Age
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Parch
Making Node of Pclass
Making Node of SibSp
Making Node of Age
Making Node of Pclass
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Parch
Making Node of Pclass
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of Fare
Making Node of Fare
Making Node of Fare
Making Node of Age
Making Node of Fare
Making Node of Pclass
Making Node of SibSp
Making Node of Age
Making Node of Pclass
Making Node of Age
Making Node of Pclass
Making Node of Age
Making Node of SibSp
Making Node of Age
Making Node of Age
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of SibSp
Making Node of Age
Making Node of Age
Making Node of Pclass
Making Node of Age
Making Node of Age
Making Node of Pclass
Making Node of Age
Making Node of Age
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of SibSp
Making Node of Pclass
Making Node of Parch
Making Node of Age
Making Node of Age
Making Node of Pclass
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of SibSp
Making Node of Age
Making Node of Age
Making Node of Age
Making Node of Pclass
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of Fare
Making Node of SibSp
Making Node of Age
Making Node of Age
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of SibSp
Making Node of Pclass
Making Node of Fare
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Fare
Making Node of Parch
Making Node of Embarked
Making Node of Age
Making Node of Age
Making Node of Embarked
Making Node of Pclass
Making Node of Pclass
Making Node of Age
Making Node of SibSp
Making Node of Age
Making Node of Pclass
Making Node of SibSp
Making Node of Fare
Making Node of Pclass
Making Node of Pclass
Making Node of Age
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Age
Making Node of Fare
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of SibSp
Making Node of Fare
Making Node of Age
Making Node of Pclass
Making Node of SibSp
Making Node of Pclass
Making Node of Fare
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Age
Making Node of Fare
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of SibSp
Making Node of Fare
Making Node of Fare
Making Node of Age
Making Node of Fare
Making Node of Fare
Making Node of Fare
Making Node of Age
Making Node of Fare
Making Node of Pclass
Making Node of SibSp
Making Node of Age
Making Node of Pclass
Making Node of SibSp
Making Node of Pclass
Making Node of Fare
Making Node of Age
Making Node of Fare
Making Node of Pclass
Making Node of Age
Making Node of Pclass
Making Node of Age
Making Node of Age
Making Node of Pclass
Making Node of Fare
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of SibSp
Making Node of Age
Making Node of Age
Making Node of Pclass
Making Node of Fare
Making Node of Pclass
Making Node of Age
Making Node of Age
Making Node of Fare
Making Node of Age
Making Node of Fare
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of Age
Making Node of Age
Making Node of Pclass
Making Node of Age
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of Age
Making Node of Age
Making Node of Age
Making Node of Pclass
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Age
Making Node of Age
Making Node of Age
Making Node of SibSp
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of Embarked
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Age
Making Node of Age
Making Node of Fare
Making Node of Age
Making Node of SibSp
Making Node of Age
Making Node of Pclass
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Fare
Making Node of Fare
Making Node of Pclass
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of Fare
Making Node of Pclass
Making Node of Fare
Making Node of Pclass
Making Node of Pclass
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of Age
Making Node of Age
Making Node of Fare
Making Node of Age
Making Node of Pclass
Making Node of Fare
Making Node of Fare
Making Node of Fare
Making Node of Pclass
Making Node of Age
Making Node of Pclass
Making Node of Age
Making Node of Fare
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Age
Making Node of Age
Making Node of Pclass
Making Node of Parch
Making Node of SibSp
Making Node of Fare
Making Node of Pclass
Making Node of Pclass
Making Node of SibSp
Making Node of Pclass
Making Node of Age
Making Node of Parch
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Age
Making Node of Parch
Making Node of Age
Making Node of Age
Making Node of Age
Making Node of Fare
Making Node of Pclass
Making Node of Pclass
Making Node of SibSp
Making Node of Pclass
Making Node of Fare
Making Node of Fare
Making Node of Age
Making Node of Fare
Making Node of Pclass
Making Node of Pclass
Making Node of Age
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of Age
Making Node of Age
Making Node of Pclass
Making Node of SibSp
Making Node of Pclass
Making Node of Pclass
Making Node of Embarked
Making Node of Age
Making Node of SibSp
Making Node of Age
Making Node of Fare
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Age
Making Node of Pclass
Making Node of Age
Making Node of Pclass
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of SibSp
Making Node of Pclass
Making Node of Parch
Making Node of Age
Making Node of Age
Making Node of Pclass
Making Node of Age
Making Node of Pclass
Making Node of Age
Making Node of SibSp
Making Node of Pclass
Making Node of Pclass
Making Node of Age
Making Node of Age
Making Node of Pclass
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of SibSp
Making Node of Age
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Parch
Making Node of Pclass
Making Node of Age
Making Node of Age
Making Node of Age
Making Node of Pclass
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass

In [53]:
#left, right = devide_data(x_data[:10], 'Sex', 0.5)

In [54]:
data_test = test_data.reset_index(drop=True)

In [55]:
test_data

     Pclass  Sex       Age  SibSp  Parch      Fare  Embarked
0         3    1  34.50000      0      0    7.8292         1
1         3    0  47.00000      1      0    7.0000         2
2         2    1  62.00000      0      0    9.6875         1
3         3    1  27.00000      0      0    8.6625         2
4         3    0  22.00000      1      1   12.2875         2
..      ...  ...       ...    ...    ...       ...       ...
413       3    1  30.27259      0      0    8.0500         2
414       1    0  39.00000      0      0  108.9000         0
415       3    1  38.50000      0      0    7.2500         2
416       3    1  30.27259      0      0    8.0500         2
417       3    1  30.27259      1      1   22.3583         0

[418 rows x 7 columns]

In [56]:
y_preds = []
for i in range(test_data.shape[0]):
    output = d_t.predict(test_data.loc[i])
    if output == 'Not Survived':
        y_preds.append(0)
    else:
        y_preds.append(1)

In [57]:
y_preds

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0]

In [61]:
correct = 0
for i in range(len(y_preds)):
    if y_preds[i] == test_data_y['Survived'][i]:
        correct+=1
    else:
        pass
print(correct/test_data.shape[0])

0.8325358851674641