In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
dataset  = pd.read_csv('C:/Users/Abhishek Yadav/OneDrive/Documents/GitHub/Machine_Learning/Dataset/titanic_dataset/titanic_train.csv')

In [3]:
dataset

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [4]:
colls_droped = ['PassengerId','Name', 'Ticket', 'Cabin']

In [5]:
data = dataset.drop(colls_droped, axis=1)

In [6]:
data

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0           0       3    male  22.0      1      0   7.2500        S
1           1       1  female  38.0      1      0  71.2833        C
2           1       3  female  26.0      0      0   7.9250        S
3           1       1  female  35.0      1      0  53.1000        S
4           0       3    male  35.0      0      0   8.0500        S
..        ...     ...     ...   ...    ...    ...      ...      ...
886         0       2    male  27.0      0      0  13.0000        S
887         1       1  female  19.0      0      0  30.0000        S
888         0       3  female   NaN      1      2  23.4500        S
889         1       1    male  26.0      0      0  30.0000        C
890         0       3    male  32.0      0      0   7.7500        Q

[891 rows x 8 columns]

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
labe_enc = LabelEncoder()
data['Sex'] = labe_enc.fit_transform(data['Sex'])
data['Embarked'] = labe_enc.fit_transform(data['Embarked'])

In [9]:
data.isnull().sum()
data['Age'] = data['Age'].fillna(data['Age'].mean())

In [10]:
y_data = data['Survived']
x_data = data

In [11]:
x_data = x_data.drop(['Survived'], axis=1)

In [12]:
data

     Survived  Pclass  Sex        Age  SibSp  Parch     Fare  Embarked
0           0       3    1  22.000000      1      0   7.2500         2
1           1       1    0  38.000000      1      0  71.2833         0
2           1       3    0  26.000000      0      0   7.9250         2
3           1       1    0  35.000000      1      0  53.1000         2
4           0       3    1  35.000000      0      0   8.0500         2
..        ...     ...  ...        ...    ...    ...      ...       ...
886         0       2    1  27.000000      0      0  13.0000         2
887         1       1    0  19.000000      0      0  30.0000         2
888         0       3    0  29.699118      1      2  23.4500         2
889         1       1    1  26.000000      0      0  30.0000         0
890         0       3    1  32.000000      0      0   7.7500         1

[891 rows x 8 columns]

In [13]:
def entropy(cols):
    favour = np.unique(cols, return_counts= True)
    total = cols.shape[0]
    ent = 0
    for i in favour[1]:
        prob = i/total
        ent = -1*(prob * np.log2(prob))
    return ent

In [14]:
def devide_data(x_data, feat, threshold):
    x_right = pd.DataFrame([],columns= x_data.columns)
    x_left = pd.DataFrame([],columns= x_data.columns)
    for i in range(x_data.shape[0]):
        value = x_data[feat].loc[i]
        
        if value >= threshold:
            x_right = pd.concat([x_right, x_data.iloc[i : i+1]])
        else:
            x_left = pd.concat([x_left, x_data.iloc[i : i+1]])
    return x_left, x_right

In [15]:
def info_gain(x_data, feat, threshold):
    left, right = devide_data(x_data, feat, threshold)

    rho_l = left.shape[0] / x_data.shape[0]
    rho_r = right.shape[0] / x_data.shape[0]
    i_gain = entropy(x_data.Survived) - (rho_l * entropy(left.Survived) + rho_r * entropy(right.Survived))
    return i_gain

In [16]:
for i in x_data.columns:
    print(i, info_gain(data, i, data[i].mean()))

Pclass 0.04617608211243701
Sex 0.12356339465830057
Age 0.0007118844927084256
SibSp 0.005769552253378718
Parch 0.009040300852152572
Fare 0.023967211352379336
Embarked 0.009426992708886694

In [17]:
class Decision_tree:

    def __init__(self, max_depth = 10, cur_depth = 0):
        self.left = None
        self.right = None
        self.feat = None
        self.value = None
        self.depth = cur_depth
        self.max_depth = max_depth
        self.target = None

    def train_dt(self, x_data):
        temp = []
        f = ['Pclass','Sex','Age','SibSp','Parch','Fare', 'Embarked']
        i_gain = []

        for i in f:
            i_gain.append(info_gain(x_data, i, x_data[i].mean()))
        self.feat = f[np.argmax(i_gain)]
        self.value = x_data[self.feat].mean()
        left,right = devide_data(x_data, self.feat, self.value)
        left = left.reset_index(drop = True)
        right = right.reset_index(drop = True)
        temp.append(f'Making Node of {self.feat}')
        print(f'Making Node of {self.feat}')
        if left.shape[0] == 0 or right.shape[0] == 0:
            if x_data.Survived.mean(0) >= 0.5:
                self.target = 'Survived'
            else:
                self.target = 'Not Survived'
            return
        if self.depth >= self.max_depth:
            if x_data.Survived.mean(0) >= 0.5:
                self.target = 'Survived'
            else:
                self.target = 'Not Survived'
            return
        self.left = Decision_tree(cur_depth = self.depth + 1)
        self.left.train_dt(left)

        self.right = Decision_tree(cur_depth = self.depth + 1)
        self.right.train_dt(right)
        return

In [ ]:
d_t = Decision_tree()
d_t.train_dt(data)

Making Node of Sex
Making Node of Pclass
Making Node of Pclass
Making Node of Parch
Making Node of Age
Making Node of Pclass
Making Node of Age
Making Node of Pclass
Making Node of SibSp
Making Node of Age
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Parch
Making Node of Pclass
Making Node of Fare
Making Node of SibSp
Making Node of Pclass
Making Node of Fare
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Parch
Making Node of Embarked
Making Node of Pclass
Making Node of SibSp
Making Node of Age
Making Node of Age
Making Node of Age
Making Node of Pclass
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Fare
Making Node of Fare
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of Age
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of Fare
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of Age
Making Node of Pclass
Making Node of Age
Making Node of Pclass
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of Age
Making Node of Pclass
Making Node of Age
Making Node of Age
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Embarked
Making Node of Fare
Making Node of Parch
Making Node of Embarked
Making Node of Pclass
Making Node of Fare
Making Node of Fare
Making Node of Pclass
Making Node of Fare
Making Node of Pclass
Making Node of Age
Making Node of Age
Making Node of Age
Making Node of Fare
Making Node of Pclass
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Fare
Making Node of Fare
Making Node of Age
Making Node of Age
Making Node of Pclass
Making Node of Age
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Parch
Making Node of Pclass
Making Node of SibSp
Making Node of Age
Making Node of Pclass
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Parch
Making Node of Pclass
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of Fare
Making Node of Fare
Making Node of Fare
Making Node of Age
Making Node of Fare
Making Node of Pclass
Making Node of SibSp
Making Node of Age
Making Node of Pclass
Making Node of Age
Making Node of Pclass
Making Node of Age
Making Node of SibSp
Making Node of Age
Making Node of Age
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of SibSp
Making Node of Age
Making Node of Age
Making Node of Pclass
Making Node of Age
Making Node of Age
Making Node of Pclass
Making Node of Age
Making Node of Age
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of SibSp
Making Node of Pclass
Making Node of Parch
Making Node of Age
Making Node of Age
Making Node of Pclass
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of SibSp
Making Node of Age
Making Node of Age
Making Node of Age
Making Node of Pclass
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of Fare
Making Node of SibSp
Making Node of Age
Making Node of Age
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of SibSp
Making Node of Pclass
Making Node of Fare
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Fare
Making Node of Parch
Making Node of Embarked
Making Node of Age
Making Node of Age
Making Node of Embarked
Making Node of Pclass
Making Node of Pclass
Making Node of Age
Making Node of SibSp
Making Node of Age
Making Node of Pclass
Making Node of SibSp
Making Node of Fare
Making Node of Pclass
Making Node of Pclass
Making Node of Age
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Age
Making Node of Fare
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of SibSp
Making Node of Fare
Making Node of Age
Making Node of Pclass
Making Node of SibSp
Making Node of Pclass
Making Node of Fare
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Age
Making Node of Fare
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of SibSp
Making Node of Fare
Making Node of Fare
Making Node of Age
Making Node of Fare
Making Node of Fare
Making Node of Fare
Making Node of Age
Making Node of Fare
Making Node of Pclass
Making Node of SibSp
Making Node of Age
Making Node of Pclass
Making Node of SibSp
Making Node of Pclass
Making Node of Fare
Making Node of Age
Making Node of Fare
Making Node of Pclass
Making Node of Age
Making Node of Pclass
Making Node of Age
Making Node of Age
Making Node of Pclass
Making Node of Fare
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of SibSp
Making Node of Age
Making Node of Age
Making Node of Pclass
Making Node of Fare
Making Node of Pclass
Making Node of Age
Making Node of Age
Making Node of Fare
Making Node of Age
Making Node of Fare
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of Age
Making Node of Age
Making Node of Pclass
Making Node of Age
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of Age
Making Node of Age
Making Node of Age
Making Node of Pclass
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Age
Making Node of Age
Making Node of Age
Making Node of SibSp
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of Embarked
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Age
Making Node of Age
Making Node of Fare
Making Node of Age
Making Node of SibSp
Making Node of Age
Making Node of Pclass
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass
Making Node of Fare
Making Node of Fare
Making Node of Pclass
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of Fare
Making Node of Pclass
Making Node of Fare
Making Node of Pclass
Making Node of Pclass
Making Node of Age
Making Node of Pclass
Making Node of Pclass
Making Node of Age
Making Node of Age
Making Node of Fare
Making Node of Age
Making Node of Pclass
Making Node of Fare
Making Node of Fare
Making Node of Fare
Making Node of Pclass
Making Node of Age
Making Node of Pclass
Making Node of Age
Making Node of Fare
Making Node of Pclass
Making Node of Pclass
Making Node of Pclass

In [ ]:
left, right = devide_data(x_data[:10], 'Sex', 0.5)

In [ ]:
left

In [ ]:
right